// Spinner
.spinner {
  border: 4px solid rgba($color: $white, $alpha: 0.9);
  border-radius: 50%;
  border-left-color: $primary-light-1;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}